LOGGING: info
DEBUG ACCOUNT: debug_account

ACCOUNT foo, bar
MATCHES %account%-%alnum%-%code%
WITH DIGITS(), ANY(), VOWELS();

ACCOUNT foo
ALIASED griselda, pinky
MATCHES %alias%-%ident%-%code%
WITH ANY(), ANY(), CHAR(1,*);

ACCOUNT baz
MATCHES %alpha%is%alpha%.%code%
WITH CHARS(1), CHARS(2);
